<% provide(:title, @user.name) %>

<h1><%= @user.name %>のタスク一覧</h1>
<%=link_to "タスク新規作成", new_user_task_path(current_user), class:"btn create-task col-md-2 col-md-offset-9 btn-primary"%>

<div class="col-md-10 col-md-offset-1">
  <table class="table">
    <thead class="tasks-index-title">
      <th><%= Task.human_attribute_name :name %></th>
      <th><%= Task.human_attribute_name :content %></th>
      <th></th>
    </thead>
    
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td id="task-title"><%= link_to "#{task.name}", user_task_path(@user, task) %></td>
          <td id="task-created-at"><%= l(task.created_at, format: :long) %></td>
          <td>
            <%= link_to "編集", edit_user_task_path(@user, task), class: "btn btn-success" %>
            <%= link_to "削除", user_task_path(@user, task), method: :delete, 
                data: { confirm: "「#{task.name}」を削除します。よろしいですか？" },
                class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>