<% provide(:title, @user.name) %>

<h1><%= @user.name %>のタスク一覧</h1>
<div class="btn create-task col-md-2 col-md-offset-9 btn-primary">
  <p>タスク新規作成</p>
</div>

<div class="col-md-10 col-md-offset-1 ">
  <table class="table">
    <thead class="tasks-index-title">
      <th>名称</th>
      <th>作成日</th>
      <th></th>
    </thead>
    
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td id="task-title"><%= task.name %></td>
          <td id="task-created-at"><%= task.created_at %></td>
          <td>
            <%= link_to "編集", "#", class: "btn btn-success" %>
            <%= link_to "削除", "#", class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>