<% provide(:title, "New Task") %>
<h1>タスク新規作成</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @task, url: user_tasks_path(@user), local: true) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name, class: "label-signup" %>
      <%= f.text_field :name, class: "form-control" %>
    
      <%= f.label :content, class: "label-signup" %>
      <%= f.text_area :content, class: "form-control", id: "area-height" %>
    
      <%= f.submit "新規登録", class: "btn btn-primary btn-signup" %>
    <% end %>
  </div>
</div>