<% provide(:title, "Users") %>
<h1>利用者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-hover">
    <thead class="users-index-title">
      <th><%= User.human_attribute_name :name %></th>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td id="user-name">
            <%= link_to "#{user.name}", user_path(user) %>&nbsp;
            <% if user.admin? %>
              <span class="label label-primary">管理者</span>
            <% else %>
              <span class="label label-success">一般</span>
            <% end %>
          </td>
          <% if current_user.admin? && !current_user?(user) %>
            <td id="user-delete">
              <%= link_to "削除", user_path(user), method: :delete,
                  data: { confirm: "#{user.name}を削除します。よろしいですか？" },
                  class: "btn btn-danger user-delete-btn" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>

